.faq {
  background-color: white;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    color: $primary-btn;
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.accordion-item {
  border-bottom: 1px solid $line;
  padding: 20px;
  &:has(.accordion-toggle:checked) {
    background-color: $secondary-btn;
    .question {
      font-weight: 700;
    }
  }
  &:nth-child(1) {
    border-top: 1px solid $line;
  }
  @media (min-width: $tablet) {
    padding-inline: calc((100vw - min(86.66vw, 1122px)) / 2);
  }
}

.accordion-toggle {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion-header {
  display: flex;
  align-items: center;
  padding-top: 25px;
  cursor: pointer;
  position: relative;
  @media (max-width: $tablet) {
    flex-wrap: wrap;
    align-items: flex-start;
    .question {
      order: 3;
      flex-basis: 100%;
      margin-top: 8px;
    }
    .number,
    .toggle-icon {
      order: 1;
    }
    .toggle-icon {
      margin-left: auto;
    }
  }
}

.number {
  font-size: 1.5rem;
  font-weight: 700;
  color: $grey;
  margin-right: 30px;
  min-width: 40px;
}

.question {
  flex: 1;
  font-weight: 500;
  font-size: clamp(1rem, 2vw, 18px);
  color: $grey;
}

.toggle-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
  border: 1px solid $primary-btn;
  position: relative;
}

.plus,
.minus {
  position: absolute;
  transition: all 0.3s ease;
}

.plus {
  opacity: 1;
  color: $primary-btn;
}

.minus {
  opacity: 0;
  transform: rotate(45deg);
}

.accordion-toggle:checked ~ .accordion-header .plus {
  opacity: 0;
  transform: rotate(90deg);
}

.accordion-toggle:checked ~ .accordion-header .minus {
  opacity: 1;
  transform: rotate(0);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  p {
    font-size: clamp(12px, 1vw, 14px);
    color: #666;
    font-weight: 400;
  }
}

.accordion-toggle:checked ~ .accordion-content {
  max-height: 500px;
  padding-top: 14px;
}

.accordion-toggle:checked + .accordion-header .toggle-icon {
  background-color: $primary-btn;
}
