$primary-btn: #ff6600;
$secondary-btn: #fff0e0;
$font-stack: Inter, sans-serif;
$primary-text: #041e37;
$secondary-text: #0b0a0a;
$primary-bg: #fff3e8;
$tablet: 700px;
$desktop: 1024px;
$line: #ff66002e;
$grey: #4c4c4c;
